In [27]:
#IMPORTS

import pandas as pd

In [42]:
all_doors_df = pd.read_excel("c:/Users/Hailey Sherman/ClimateOfHopeData/Data_2025/side_door_index_master_FINAL_2.xlsx")
display(all_doors_df)

,Unnamed: 0,Group ID,Group Type,Pseudonym,age,gender,race,zip,SASSY,UT?,...,MoType,title,frame uptake,relate,affect/engagement,anti-frames,skepticism,disconnect,affect/engagement.1,transcript link
0,1A,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,side,aspen comments,1,0,0,0,0,0,0,NaN
1,2A,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,...,side,reflection question about aspen grove,1,0,0,0,0,0,0,NaN
2,2B,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,side,reflection question about aspen grove,1,0,0,0,0,0,0,NaN
3,3A,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,...,side,comment on utah temps rising higher than globa...,0,0,1,0,0,0,0,NaN
4,3B,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,side,comment on utah temps rising higher than globa...,0,0,1,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,2A,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,...,side,more jobs,0,0,1,0,0,0,0,NaN
657,3A,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,...,DC,no electrcity,0,0,0,0,0,0,1,NaN
658,2B,24020901,cautious,John,54,Male,white,13088,cautious,0,...,DC,rare minerals,0,0,0,0,0,0,1,NaN
659,4A,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,...,side,key messages,1,0,0,0,0,0,0,NaN
660,4B,24020901,cautious,John,54,Male,white,13088,cautious,0,...,DC,electric cars are more expensive,0,0,0,0,1,0,0,NaN

In [43]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(all_doors_df):
    # Remove leading and trailing whitespace in columns: 'MoType', 'Pseudonym'
    all_doors_df['MoType'] = all_doors_df['MoType'].str.strip()
    all_doors_df['Pseudonym'] = all_doors_df['Pseudonym'].str.strip()
    # Convert text to uppercase in column: 'MoType'
    all_doors_df['MoType'] = all_doors_df['MoType'].str.upper()
    # Convert 'Exhibit #' strings to lowercase and remove whitespace while preserving numbers
    all_doors_df['Exhibit #'] = all_doors_df['Exhibit #'].apply(lambda x: x.lower() if isinstance(x, str) else x)
    all_doors_df['Exhibit #'] = all_doors_df['Exhibit #'].apply(lambda x: x.strip() if isinstance(x, str) else x)
    return all_doors_df

all_doors_df_clean = clean_data(all_doors_df.copy())
all_doors_df_clean.head()

,Unnamed: 0,Group ID,Group Type,Pseudonym,age,gender,race,zip,SASSY,UT?,...,MoType,title,frame uptake,relate,affect/engagement,anti-frames,skepticism,disconnect,affect/engagement.1,transcript link
0,1A,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,SIDE,aspen comments,1,0,0,0,0,0,0,NaN
1,2A,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,...,SIDE,reflection question about aspen grove,1,0,0,0,0,0,0,NaN
2,2B,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,SIDE,reflection question about aspen grove,1,0,0,0,0,0,0,NaN
3,3A,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,...,SIDE,comment on utah temps rising higher than globa...,0,0,1,0,0,0,0,NaN
4,3B,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,...,SIDE,comment on utah temps rising higher than globa...,0,0,1,0,0,0,0,NaN

In [44]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(all_doors_df_clean):
    # Filter rows based on column: 'MoType'
    all_doors_df_clean = all_doors_df_clean[all_doors_df_clean['MoType'] == "SIDE"]
    # Drop columns: 'url', 'Unnamed: 0' and 12 other columns
    all_doors_df_clean = all_doors_df_clean.drop(columns=['url', 'Unnamed: 0', 'title', 'transcript link', 'timestop', 'timestart', 'MoType', 'affect/engagement.1', 'disconnect', 'skepticism', 'anti-frames', 'affect/engagement', 'relate', 'frame uptake'])
    return all_doors_df_clean

side_doors_df = clean_data(all_doors_df_clean.copy())
side_doors_df.head()

,Group ID,Group Type,Pseudonym,age,gender,race,zip,SASSY,UT?,rural/urban,Exhibit #
0,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,2
1,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,1.0,s1
2,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,s1
3,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,1.0,4
4,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,4

In [ ]:
side_doors_df = pd.get_dummies(side_doors_df, columns=['Exhibit #'], drop_first=False, dtype=int)

,Group ID,Group Type,Pseudonym,age,gender,race,zip,SASSY,UT?,rural/urban,...,Exhibit #_12,Exhibit #_13,Exhibit #_14,Exhibit #_15,Exhibit #_16,Exhibit #_general,Exhibit #_s1,Exhibit #_s2,Exhibit #_s3,Exhibit #_s4
0,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,...,0,0,0,0,0,0,0,0,0,0
1,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,1.0,...,0,0,0,0,0,0,1,0,0,0
2,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,...,0,0,0,0,0,0,1,0,0,0
3,24040611,Mixed,Sarah,20,Female,Caucasian,84128,Cautious,1,1.0,...,0,0,0,0,0,0,0,0,0,0
4,24040611,Mixed,Lindsay,20,Female,Caucasian,84128,Alarmed,1,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,24.02.23_02,Mixed Group,Olivia,53,Female,Caucasian,R3K0B4,Concerned,0,1.0,...,0,1,0,0,0,0,0,0,0,0
654,24020901,cautious,John,54,Male,white,13088,cautious,0,2.0,...,0,0,0,0,0,0,0,1,0,0
655,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,2.0,...,0,0,0,0,0,0,0,1,0,0
656,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,2.0,...,0,0,0,0,0,0,0,0,0,0
659,24020901,cautious,Elizabeth,51,Female,white,13088,cautious,0,2.0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
side_doors_df = side_doors_df.groupby('Pseudonym').max().reset_index()
display(side_doors_df)

,Pseudonym,Group ID,Group Type,age,gender,race,zip,SASSY,UT?,rural/urban,...,Exhibit #_12,Exhibit #_13,Exhibit #_14,Exhibit #_15,Exhibit #_16,Exhibit #_general,Exhibit #_s1,Exhibit #_s2,Exhibit #_s3,Exhibit #_s4
0,Alex,24040505,AC,35,Male,Black or African American,47904,Alarmed,0,3.0,...,0,0,1,0,1,0,0,1,1,0
1,Allie,240313_04,Mixed,28,Female,Caucasian,84401,Concerned,1,2.0,...,0,0,0,0,0,0,0,1,1,0
2,Amy,24040302,CC,20,Female,Caucasian,84095,Cautious,1,1.0,...,1,0,0,0,0,0,0,0,0,0
3,Andy,24012401,mixed,23,Male,white,30338,Cautious,0,1.0,...,1,0,0,0,0,0,0,0,0,0
4,Asher,24.02.23_02,Mixed Group,17,Male,Caucasian,R3K0B4,Cautious,0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Tam,240313_02,Mixed,28,Male,Asian,Winnipeg,Cautious,0,NaN,...,0,0,0,0,0,0,0,0,0,0
68,Ted,24040608,AC,29,Male,"Other, please specify",84119,Alarmed,1,1.0,...,1,0,0,0,0,0,0,0,1,0
69,Terry,24030804,AC,20,Male,Caucasian,59725,Concerned,0,9.0,...,0,0,0,0,0,1,0,1,0,0
70,Tim,24020903,AC,37,Male,Asian,98264,Alarmed,0,3.0,...,0,0,0,0,0,0,0,0,1,0
71,Tina,240309_06,mixed,14,female,Caucasian,84044,NaN,1,1.0,...,0,0,0,0,0,0,0,0,0,0