In [1]:
#IMPORTS

import pandas as pd

In [ ]:
total_doors_by_person_df = pd.read_excel("c:/Users/Hailey Sherman/ClimateOfHopeData/Data_2025/total_doors_by_person.xlsx")
display(total_doors_by_person_df)

,Pseudonym,Exhibit #_1_side,Exhibit #_2_side,Exhibit #_3_side,Exhibit #_4_side,Exhibit #_5_side,Exhibit #_6_side,Exhibit #_7_side,Exhibit #_8_side,Exhibit #_9_side,...,Exhibit #_1_mm,Exhibit #_8_mm,Exhibit #_14_mm,Exhibit #_s1_mm,Exhibit #_s2_mm,Exhibit #_s4_mm,total_side,total_dc,total_mm,total_all_doors
0,Alex,0,0,0,1,2,0,0,0,0,...,0,0,0,0,0,0,8,0,0,8
1,Allie,0,4,0,1,1,0,0,0,0,...,0,0,0,0,0,0,11,2,2,15
2,Amy,0,0,0,1,4,2,0,0,0,...,0,0,0,0,0,0,12,4,0,16
3,Andy,0,1,1,4,0,1,0,0,0,...,0,0,0,0,0,0,9,7,1,17
4,Asher,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Tam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
72,Ted,0,0,0,2,0,0,2,0,0,...,0,0,0,0,0,0,7,0,1,8
73,Terry,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,0,4
74,Tim,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,0,6
75,Tina,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,2

In [6]:
#remove special characters from Group IDs
total_doors_by_person_df['Group ID'] = total_doors_by_person_df['Group ID'].str.replace(r'\D+', '', regex=True)

#check that all group ids have 8 digits
invalid_rows = total_doors_by_person_df[~total_doors_by_person_df['Group ID'].str.match(r'^\d{8}$')]
display(invalid_rows)

Empty DataFrame
Columns: [Pseudonym, Exhibit #_1_side, Exhibit #_2_side, Exhibit #_3_side, Exhibit #_4_side, Exhibit #_5_side, Exhibit #_6_side, Exhibit #_7_side, Exhibit #_8_side, Exhibit #_9_side, Exhibit #_10_side, Exhibit #_11_side, Exhibit #_12_side, Exhibit #_13_side, Exhibit #_14_side, Exhibit #_15_side, Exhibit #_16_side, Exhibit #_general_side, Exhibit #_s1_side, Exhibit #_s2_side, Exhibit #_s3_side, Exhibit #_s4_side, Group ID, Group Type, age, gender, race, zip, SASSY, UT?, rural/urban, Exhibit #_1_dc, Exhibit #_2_dc, Exhibit #_3_dc, Exhibit #_4_dc, Exhibit #_5_dc, Exhibit #_6_dc, Exhibit #_7_dc, Exhibit #_8_dc, Exhibit #_9_dc, Exhibit #_10_dc, Exhibit #_11_dc, Exhibit #_12_dc, Exhibit #_13_dc, Exhibit #_14_dc, Exhibit #_15_dc, Exhibit #_16_dc, Exhibit #_general_dc, Exhibit #_s1_dc, Exhibit #_s2_dc, Exhibit #_s3_dc, Exhibit #_s4_dc, Exhibit #_2_mm, Exhibit #_3_mm, Exhibit #_4_mm, Exhibit #_5_mm, Exhibit #_6_mm, Exhibit #_7_mm, Exhibit #_9_mm, Exhibit #_10_mm, Exhibit #_11_mm, Exhibit #_12_mm, Exhibit #_13_mm, Exhibit #_15_mm, Exhibit #_general_mm, Exhibit #_s3_mm, Exhibit #_1_mm, Exhibit #_8_mm, Exhibit #_14_mm, Exhibit #_s1_mm, Exhibit #_s2_mm, Exhibit #_s4_mm, total_side, total_dc, total_mm, total_all_doors]
Index: []

[0 rows x 76 columns]